---
layout: default
---


  <article>
    <h2 class="link-title"><a href="{{ page.link }}" title="Go to {{ post.title }}">{{ page.title }}</a> <a class="post-url" href="{{ post.url }}">#</a></h2>

    <div class="post-meta">
      <a class="post-meta-link" href="{{ page.link }}" title="Go to {{ page.title }}">{{ page.link }}</a>
    </div>

    {{ content }}

    <div class="post-meta">
      <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date_to_long_string }}</time> &mdash; Tags: {{ page | tags }}
    </div>
  </article>
